//RESET PARA TODAS LAS 5 SECCIONES DE LOS ARCHIVOS HTML
@mixin boxModelingReset($reset-padding, $reset-margin) {
    padding: $reset-padding;
    margin: $reset-padding;
}
@mixin fontSizeHtml($font-size-html) {
    font-size: $font-size-html;
}
@mixin backgroundColorBody($background-color-body) {
    background-color: $background-color-body;
}

* {
    @include boxModelingReset(0px, 0px); 
}

html {
    $font-family-html: 'Montserrat', sans-serif;
    @include fontSizeHtml(62.5%);
    font-family: $font-family-html;
    
    body {
        @include backgroundColorBody(#98A379);
    }
}

// NAVBAR PARA TODAS LAS 5 SECCIONES DE LOS ARCHIVOS HTML
@mixin hoverAnimationListItemsNav ($color-list-item, $font-size-list-item, 
    $border-radius-list-item, $tranform-list-item) {
        background-color: $color-list-item;
        font-size: $font-size-list-item;
        border-radius: $border-radius-list-item;
        transform: $tranform-list-item;
}
@mixin transitionListItems ($select-all-properties-hover-list-item, $start-time) {
    transition: $select-all-properties-hover-list-item, $start-time;
}
@mixin logoNavbarHeader ($margin-left-logo-nav, $color-logo-nav) {
    margin-left: $margin-left-logo-nav;
    color:$color-logo-nav;
}
#header__index {
    $background-color-navbar: #A48F45;
    background-color:$background-color-navbar;

    .header__nav__logo {
        @include logoNavbarHeader(1.5rem, #EEEEEA);

        @media screen and (max-width:992px) {
            margin-left:0rem;
        }

        @media screen and (max-width:85px) {
            margin-left:0rem;
            font-size: 0.5rem;
        }
    }

    .nav__links__index {
        $margin-left-ul-nav: 2rem + 3;
        margin-left: $margin-left-ul-nav;

        @media screen and (max-width:1302px) {
            margin-left: 2.5rem;    
        }

        @media screen and (max-width:992px) {
            margin-left: 0rem;
        }

        .list__items__nav {
            margin: 0 0 0 12rem + 4;
            font-size: 1.4rem;
            font-style: italic;
            font-weight: normal;
            text-align: none;

            @media screen and (max-width:1302px) {
                margin: 0 0 0 12.5rem;
                font-size: 0.6rem
            }

            @media screen and (max-width:992px) {
                margin: 0 0 0 0rem;
            }

            .links {
                $color-links-navbar: #EEEEEA; 
                color:$color-links-navbar;

                &:hover {
                    $color-hover-links-navbar: #535353; 
                    color: $color-hover-links-navbar;
                }
            }
        }

        #nav_home {
            @include transitionListItems(all, 600ms);

            @media screen and (max-width:991px){
                transition: all, 600ms;
            }

            &:hover {
                @include hoverAnimationListItemsNav (#aac692, 1.4rem, 0.9rem, scale(1.2));

                @media screen and (max-width:991px){
                    background-color: #aac692;
                    font-size: 0.8rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }

                @media screen and (min-width:992px) and (max-width:1302px){
                    background-color: #aac692;
                    font-size: 0.6rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }
            }
        }
        
        #nav_photos {
            @include transitionListItems (all, 600ms);

            @media screen and (max-width:991px){
                transition: all, 600ms;
            }

            &:hover {
                @include hoverAnimationListItemsNav (#aac692, 1.4rem, 0.9rem, scale(1.2));

                @media screen and (max-width:991px){
                    background-color: #aac692;
                    font-size: 0.8rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }

                @media screen and (min-width:992px) and (max-width:1302px){
                    background-color: #aac692;
                    font-size: 0.6rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }
            }
        }
        
        #nav_albums {
            @include transitionListItems (all, 600ms);

            @media screen and (max-width:991px){
                transition: all, 600ms;
            }

            &:hover {
                @include hoverAnimationListItemsNav (#aac692, 1.4rem, 0.9rem, scale(1.2));

                @media screen and (max-width:991px){
                    background-color: #aac692;
                    font-size: 0.8rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }

                @media screen and (min-width:992px) and (max-width:1302px){
                    background-color: #aac692;
                    font-size: 0.6rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }
            }
        }

        #nav_tours {
            @include transitionListItems (all, 600ms);

            @media screen and (max-width:991px){
                transition: all, 600ms;
            }

            &:hover {
                @include hoverAnimationListItemsNav (#aac692, 1.4rem, 0.9rem, scale(1.2));

                @media screen and (max-width:991px){
                    background-color: #aac692;
                    font-size: 0.8rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }

                @media screen and (min-width:992px) and (max-width:1302px){
                    background-color: #aac692;
                    font-size: 0.6rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }
            }
        }

        #nav_contact {
            @include transitionListItems (all, 600ms);

            @media screen and (max-width:991px){
                transition: all, 600ms;
            }

            &:hover {
                @include hoverAnimationListItemsNav (#aac692, 1.4rem, 0.9rem, scale(1.2));

                @media screen and (max-width:991px){
                    background-color: #aac692;
                    font-size: 0.8rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }

                @media screen and (min-width:992px) and (max-width:1302px){
                    background-color: #aac692;
                    font-size: 0.6rem;
                    border-radius: 0.9rem;
                    transform: scale(1);
                }
            }
        }
    }

}


// MAIN SECCION INDEX.HTML
.main__container__information {
    $background-color-container-information-index: #98A379;
    background-color:  $background-color-container-information-index;

    #main__container__information__biografia__images {

        @mixin containerMainInformationBiografiaImages($padding-bottom-information,
            $padding-top-information, $display-information, $justify-content-information){

            padding-bottom: $padding-bottom-information;
            padding-top: $padding-top-information;
            display: $display-information;
            justify-content: $justify-content-information;    
        };

        @include containerMainInformationBiografiaImages(8rem, 8rem, flex, space-around);

        .main__container__information__biografia {

            @mixin containerMainInformationBiografia($font-size-biography,$height-biography, 
                $width-biography, $padding-left-biography, $font-style-biography, $font-weight-biography,
                $text-align-biography, $color-biography){

                font-size: $font-size-biography;
                height: $height-biography;
                width: $width-biography;
                padding-left: $padding-left-biography;
                font-style: $font-style-biography;
                font-weight: $font-weight-biography;
                text-align: $text-align-biography;
                color: $color-biography;
            }     

            @include containerMainInformationBiografia(3rem, 400px, 640px, 40px, italic,
            none, none, #5A5F51);

            @media screen and (max-width:1239px ){
                font-size: 2.6rem;
                height: 40rem;
                width: 110rem;
            }
            @media screen and (max-width:924px ){
                font-size: 2.3rem;
                height: 40rem;
                width: 110rem;
                padding-left: 2rem;
            }
            @media screen and (max-width:736px ){
                font-size: 1.9rem;
                height: 40rem;
                width: 110rem;
                padding-left: 2rem;
            }
            @media screen and (max-width:517px ){
                font-size: 1.6rem;
                height: 40rem;
                width: 110rem;
                padding-left: 2rem;
            }
            @media screen and (max-width:402px ){
                font-size: 1.4rem;
                height: 40rem;
                width: 110rem;
                padding-left: 2rem;
            }
            @media screen and (max-width:298px ){
                font-size: 1.19rem;
                height: 40rem;
                width: 110rem;
                padding-left: 2rem;   
            }
            @media screen and (max-width:216px ){
                font-size: 1rem;
                height: 40rem;
                width: 110rem;
                padding-left: 2rem;   
            }
            @media screen and (max-width:150px ){
                font-size: 1rem;
                height: 40rem;
                width: 110rem;
                padding-left: 2rem;
            }
            @media screen and (max-width:125px ){
                font-size: 0.9rem;
                height: 40rem;
                width: 110rem;
                padding-left: 2rem;
            }
            @media screen and (max-width:109px ){
                font-size: 0.9rem;
                height: 40rem;
                width: 110rem;
                padding-left: 0.05rem;    
            }
            @media screen and (max-width:89px ){
                font-size: 0.8rem;
                height: 40rem;
                width: 110rem;
                padding-left: 0.05rem;    
            }
            @media screen and (max-width:73px ){
                font-size: 0.7rem;
                height: 40rem;
                width: 110rem;
                padding-left: 0.05rem;
            }
            @media screen and (max-width:59px ){
                font-size: 0.6rem;
                height: 40rem;
                width: 110rem;
                padding-left: 0.05rem;
            }

            .title__biografia {
                @media screen and (max-width: 51px) {
                    font-size: 0.2rem;
                }
            }
        }

        .main__container__information__images{

            $display-images: flex;
            $justify-content-images: center;
            $align-items-images: center;
            $height-images: 40rem + 40;
            $width-images: 30rem + 30;

            display: $display-images;
            justify-content: $justify-content-images;
            align-items: $align-items-images;
            height: $height-images;
            width: $width-images;

            @media screen and (max-width:1239px ){
                height: 80rem;
                width: 90rem;
            }
            @media screen and (max-width:924px ){
                height: 80rem;
                width: 65rem;
            }
            @media screen and (max-width:736px ){
                height: 80rem;
                width: 50rem;
            }
            @media screen and (max-width:517px ){
                height: 40rem;
                width: 40rem;
                margin-bottom: 5rem;
            }
            @media screen and (max-width:397px ){
                height: 30rem;
                width: 30rem;
                margin-top: 10rem;
            }
            @media screen and (max-width:306px ){
                height: 25rem;
                width: 25rem;
                margin-top: 10rem;
            }
            @media screen and (max-width:252px ){
                height: 20rem;
                width: 20rem;
                margin-top: 13rem;
            }
            @media screen and (max-width:196px ){
                height: 15rem;
                width: 15rem;
                margin-top: 21rem;
                margin-bottom: 20rem;

            }
            @media screen and (max-width:128px ){
                height: 20rem;
                width: 10rem;
                margin-top: 40rem;
                margin-bottom: 20rem;
            }
            @media screen and (max-width:98px ){
                height: 10rem;
                width: 6rem;
            }

            .imagenes__main {
                $height-images-main: 50% * 2;
                $width-images-main: 50% * 2;
                height: $height-images-main;
                width: $width-images-main;    

            }
        }
    }
}

// FOOTER PARA TODAS LAS 5 SECCIONES DE LOS ARCHIVOS HTML
@mixin FooterCopyrightRedes ($display-footer, $flex-direcion-footer, $justify-content-footer,
$background-color-footer){
    display: $display-footer;
    flex-direction: $flex-direcion-footer;
    justify-content: $justify-content-footer;
    background-color:$background-color-footer;

}
@mixin paragraphFooterCopyright ($padding-top-copyright, $color-copyright,
$font-size-copyright, $font-style-copyright, $font-weight-copyright,
$text-align-copyright) {
    padding-top: $padding-top-copyright;
    color: $color-copyright;
    font-size: $font-size-copyright;
    font-style: $font-style-copyright;
    font-weight: $font-weight-copyright;
    text-align: $text-align-copyright;
}
@mixin imagesFooterRedes ($width-images-redes, $height-images-redes,
$padding-bottom-images-redes) {
    width: $width-images-redes;
    height: $height-images-redes;
    padding-bottom: $padding-bottom-images-redes;
}

#footer__index__copyright {
    @include FooterCopyrightRedes(flex, column, space-evenly, #A48F45);
    
    .paragraph__footer__copyright {
        @include paragraphFooterCopyright(0.9rem,#EEEEEA, 1rem, italic, normal,
        center);

        @media screen and (max-width: 86px) {
            font-size: 0.4rem;    
        }
    }

    .imagen__footer__redes {
        @include imagesFooterRedes (100%, 100%, 1.6rem);
        
        .images__redes {
            $width-images-redes: 2.8rem + 0.3;
            $height-images-redes: 2.0rem + 1.1;
            $transition-images-redes: all 300ms;

            width: $width-images-redes;
            height: $height-images-redes;
            transition: $transition-images-redes;

            &:hover {
                $width-hover-images-redes: 2.7rem + 0.4;
                $height-hover-images-redes: 2.6rem + 0.5;
                $background-color-hover-images-redes: #76715c;

                width: $width-hover-images-redes;
                height: $height-hover-images-redes;
                background-color: $background-color-hover-images-redes;
            }
        }
    }
}


