// MAIN SECCION PHOTOS.HTML
#main__photos__videos {
    $background-color-main-photos-videos: #98A379;

    background-color:$background-color-main-photos-videos;

    #main__photos__videos__container {
        $padding-bottom-container-video-photo: 6rem + 6;
        $padding-top-container-video-photo: 7rem + 6;

        padding-bottom: $padding-bottom-container-video-photo;
        padding-top: $padding-top-container-video-photo;

        @media screen and (max-width: 912px) {
            padding-bottom: 35.2rem;
        }

        .main__title__photos {

            @mixin mainTitlePhotos ($color-title-photos, $padding-title-photos, $font-size-title-photos,
                $font-style-title-photos, $font-weight-title-photos, $text-align-title-photos) {

                color: $color-title-photos;
                padding: $padding-title-photos;
                font-size: $font-size-title-photos;
                font-style: $font-style-title-photos;
                font-weight: $font-weight-title-photos;
                text-align: $text-align-title-photos;

            }

            @include mainTitlePhotos(#777777, 1.6rem 0 1.6rem 0, 5rem, italic, none, none);

            @media screen and (max-width:340px){
                font-size: 2rem;
            }
            
            @media screen and (max-width:143px) {
                font-size: 1rem;
            }

            @media screen and (max-width:102px) {      
                font-size: 0.2rem;
            }
        }

        #main__img__photos {

            @mixin containerImgPhotos ($display-img-photos, $flex-wrap-img-photos, $flex-direction-img-photos,
                $justify-content-img-photos, $align-items-img-photos, $padding-top-img-photos) {

                display: $display-img-photos;
                flex-wrap: $flex-wrap-img-photos;
                flex-direction: $flex-direction-img-photos;
                justify-content: $justify-content-img-photos;
                align-items: $align-items-img-photos;
                padding-top: $padding-top-img-photos;
            }

            @include containerImgPhotos(flex, wrap, row, space-evenly, center, 7rem);

            .img__photos {
                $height-img-photos: 10rem + 10;
                $width-img-photos: 15rem + 5;
                $border-img-photos: #3c502a solid 0.4rem;
                $border-radius-img-photos: 1rem;

                height: $height-img-photos;
                width: $width-img-photos;
                border: $border-img-photos;
                border-radius: $border-radius-img-photos;

                @media screen and (max-width:408px){
                    height: 10rem;
                    width: 10rem;
                }

                @media screen and (max-width:340px){
                    height: 10rem;
                    width: 10rem;
                }

                @media screen and (max-width:269px){
                    height: 10rem;
                    width: 10rem;
                }

                @media screen and (max-width:102px) {      
                    height: 10rem;
                    width: 4.2rem;
                }
            }
        }

        .main__title__videos {

            @mixin mainTitleVideos ($color-title-videos, $padding-title-videos, $font-size-title-videos,
                $font-style-title-videos, $font-weight-title-videos, $text-align-title-videos) {
                color: $color-title-videos;
                padding: $padding-title-videos;
                font-size: $font-size-title-videos;
                font-style: $font-style-title-videos;
                font-weight: $font-weight-title-videos;
                text-align: $text-align-title-videos;
            }

            @include mainTitleVideos(#777777, 9rem 0 0 0, 5rem, italic, none, none);

            @media screen and (max-width:340px){
                font-size: 2rem;
            }

            @media screen and (max-width:143px) {
                font-size: 1rem;
            }

            @media screen and (max-width:102px) {      
                font-size: 0.2rem;
            }
        }

        #main__videos__photos {

            @mixin containerVideosPhotos ($display-videos-photos, $flex-wrap-videos-photos, $flex-direction-videos-photos,
                $justify-content-videos-photos, $align-items-videos-photos) {

                display: $display-videos-photos;
                flex-wrap: $flex-wrap-videos-photos;
                flex-direction: $flex-direction-videos-photos;
                justify-content: $justify-content-videos-photos;
                align-items: $align-items-videos-photos;
            }

            @include containerVideosPhotos(flex, wrap, row, space-evenly, center);
            
            .videos__main {
                $width-videos-main: 20rem * 2;
                $height-videos-main: 20rem + 20;

                width: $width-videos-main;
                height: $height-videos-main;

                @media screen and (max-width:408px){
                    width: 30rem;
                    height: 30rem;    
                }

                @media screen and (max-width:340px){
                    width: 20rem;
                    height: 20rem;
                }

                @media screen and (max-width:269px){
                    width: 10rem;
                    height: 10rem;
                }

                @media screen and (max-width:102px) {      
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }
}
